<li>
  <article>
    <%= comment.content %>

    <footer>
      by
      <%= comment.user.name %>,
      <%= format_time(comment.created_at) %>
    </footer>

    <% if user_signed_in? %>
      <details>
        <summary>Reply</summary>
        <%= render 'comments/new' do |f| %>
          <%= f.hidden_field :comment_id, value: comment.id %>
        <% end %>
      </details>
    <% end %>

    <ul>
      <%= render comment.comments.order(id: :asc) %>
    </ul>
  </article>
</li>
