<li>
  <article>
    <%= comment.content %>

    <footer>
      by
      <%= comment.user.name %>,
      <%= format_time(comment.created_at) %>
    </footer>

    <% if user_signed_in? %>
      <details>
        <summary>Reply</summary>
        <%= simple_form_for :comment, url: comments_path do |f| %>
          <%= f.hidden_field :comment, value: comment.id %>
          <%= f.text_area :content %>

          <%= f.button :submit, "Submit" %>
        <% end %>
      </details>
    <% end %>

    <ul>
      <%= render comment.comments.order(id: :asc) %>
    </ul>
  </article>
</li>
