<article>
  <%= render 'pair' %>

  <section>
    <%= simple_form_for :comment, url: comments_path do |f| %>
      <%= f.hidden_field :pair_id, value: @pair.id %>
      <%= f.text_area :content %>

      <%= f.button :submit, "Submit" %>
    <% end %>

    <ul>
      <%= render @pair.comments.includes(:user).order(id: :asc) %>
    </ul>
  </section>
</article>
